/*#wrap {height:1000px;}   마지막에 높이를 없앤다. */

header {height:100px;}
.logo-font {font-size:30px;}

nav {height:50px;}
.nav-item .nav-link:hover {color:#fff !important;}

.contents {height:300px;}
.contents > .content1 {height:300px;}
.contents > aside {height:300px;}

footer {height:150px;}